<mat-toolbar color="primary">
    <mat-toolbar-row>
            <button mat-button routerLink="/">Angular CMS</button>
            <span class="example-spacer"></span>

        <button  mat-button routerLink="/article">Article Page</button>
        <button mat-button routerLink="/admin">Admin</button>
        <div *ngIf="! user">
            <button  mat-button (click) ="AfService.loginWithGoogle()">Login </button>        
        </div>
        <div *ngIf="user">
            <button mat-button [matMenuTriggerFor]="menu">
                <span>Hello {{user.displayName}}</span>
                <img class="profileImg" [src]= "user.photoURL">
                
            </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

                <button (click)="AfService.logout()">Log Out</button>
        </div>
    </mat-toolbar-row>
      

</mat-toolbar>



<div *ngIf="user">
    <p>Subscriber: {{user.roles?.subscriber ? true:false}}</p>
    <p>Admin: {{user.roles?.admin ? true:false}}</p>
</div>
